@inherits TableComponentModel

<table class="table table-striped table-bordered  table-dark table-hover @GetCssClass()" style="@GetCssStyle()" id="@GetElementId()">
    @ChildContent
</table>

@code {

}
