@using Hydra.RazorClassLibrary.ComponentModels

<div class="container mt-3">
    <div class="card">
        <div class="card-header bg-light fw-bold">
            @HeaderTitle
        </div>

        <div class="card-body">
            @ChildContent
        </div>

        <div class="card-footer">
            <TestElementAttributesTableComponent Debugger="@Debugger" />
        </div>
    </div>
</div>

@code {
    [Parameter] public string HeaderTitle { get; set; } = "Component Preview";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public ComponentDebugger? Debugger { get; set; }
}
